

@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<h1>@TempData["name"]</h1>
<h1>@TempData["email"]</h1>
<h1>@TempData["age"]</h1>
<h1>@TempData["address"]</h1>

<h1>@TempData["date"]</h1>
